.h5_componentpie canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	/*background-color: transparent;*/
}
/*canvas:nth-child(1) {
	transition: all linear .1s 1s;
	opacity: 0;
}
canvas:nth-child(1) {
	opacity: 1;
}*/
.h5_componentpie .canvas1{
	transition: all linear .1s 1s;
	opacity: 0;
}
.h5_componentpie_load .canvas1 {
	opacity: 1;
}
.h5_componentPie .text {
	position: absolute;
	z-index: 999;
	text-align: center;
}